body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.search-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.content-section{
    margin: 140px;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: space-around;
}

.card{
    margin: 10px;
    height: 300px;
    width: 500px;
    background: lightgrey;
    opacity: 0.8;
    border-radius: 20px;
}

#table{
    margin-top: 20px;
}
