<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href ="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href ="@{/css/main.css}">
<script src="/js/bootstrap.min.js" ></script>

<head>
    <meta charset="UTF-8">
    <title>myTunes</title>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">myTunes</a>
        </div>
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<!-- Simple bootstrap form to implement search bar, take input and redirect to /search -->
<div class="search-section">
    <div class="col-lg-8 mx-auto">
        <h1 class="font-weight-light mb-4 font-italic text-white">Search for a track...</h1>
        <div class="bg-white p-5 rounded shadow">
            <!-- Underlined search bars with buttons -->
            <form th:action="@{/search}" method="get">
                <div class="row">
                    <div class="form-group col-md-9">
                        <input id="exampleFormControlInput6" type="text" placeholder="What are you searching for?" th:name="term" class="form-control form-control-underlined" required>
                    </div>
                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                    </div>
                </div>
            </form>
            <!-- End -->
        </div>
    </div>
</div>


<!-- Five random view for track, artist and genre by creating a "card" for each of them -->
<div class="content-section">
    <h1>Music to check out</h1>
    <div class="card-container">
        <div class="card">
            <h3 style="margin-bottom: 30px">Tracks</h3>
            <p class="card-content" th:each="track:${tracks}" th:text="${track.getName()}"></p>
        </div>
        <div class="card">
            <h3 style="margin-bottom: 30px">Artists</h3>
            <p class="card-content" th:each="artist:${artists}" th:text="${artist.getName()}"></p>
        </div>
        <div class="card">
            <h3 style="margin-bottom: 30px">Genres</h3>
            <p class="card-content" th:each="genre:${genres}" th:text="${genre.getName()}"></p>
        </div>
    </div>
</div>

</body>
</html>