<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href ="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href ="@{/css/main.css}">
<script src="/js/bootstrap.min.js" ></script>

<head>
    <meta charset="UTF-8">
    <title>myTunes</title>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">myTunes</a>
        </div>
    </div><!-- /.container -->
</nav><!-- /.navbar -->


<!-- Simple bootstrap form to implement search bar, take input and redirect to /search -->
<div class="search-section">
    <div class="col-lg-8 mx-auto">
        <h1 class="font-weight-light mb-4 font-italic text-white">Search for a track...</h1>
        <div class="bg-white p-5 rounded shadow">
            <!-- Underlined search bars with buttons -->
            <form th:action="@{/search}" method="get">
                <div class="row">
                    <div class="form-group col-md-9">
                        <input id="exampleFormControlInput6" type="text" placeholder="What are you searching for?" th:name="term" class="form-control form-control-underlined" required>
                    </div>
                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                    </div>
                </div>
            </form>
            <!-- End -->
        </div>
    </div>
</div>


<!-- Table to show search results -->
<table class="table" id="table">
    <h3 th:text="${'Results for ' + term}" style="margin-top: 80px"></h3>
    <thead>
    <tr>
        <th scope="col">Track</th>
        <th scope="col">Artist</th>
        <th scope="col">Album</th>
        <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result:${results}">
        <td th:text="${result.getName()}"></td>
        <td th:text="${result.getArtist()}"></td>
        <td th:text="${result.getAlbum()}"></td>
        <td th:text="${result.getGenre()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>